@media (max-width: 771px){
    #al-cielo{

        bottom: 0.5em;
        right: 0.5em;
        width: 2.5em;
        height: 2.5em;
    }

    .criticas-container{
        padding: 5px 10px;
    }
    
    .critica-container{
        margin: 10px 0;
        padding: 5px;
       
    }
    
    .cabecera-critica{
        border-bottom: 2px solid #ffc107;
        padding: 12px 7px;
    }

    .datos-usuarios-criticas{
        padding: 0;
    }

    .datos-usuarios-criticas i{
        font-size: 1.7em;
        padding: 5px;
        margin-right: 5px;
    }
    
    .usuario-critica{
        font-size: 1.2em;
    }

    .localidad{
        font-size: 0.7em;
    }
    
    
    .titulo-critica a{
        font-size: 1em ;
        padding-top: 10px;
    }
    
    .valor-critica{
        padding: 7px;
        font-size: 1em;
        border-radius: 5px;
    }

    .fecha{
       
        font-size: 0.6em;
    }
    .critica{
        white-space: pre-line;
        line-height: 1.4;
        padding-bottom: 40px;
        font-size: 0.7em;
    }

    .btn-azul,
    .btn-eliminar,
    .btn-principal{
        font-size: 0.7em;
    }

    .titulo-valoracion a{
        font-size: 0.8em;
        padding: 10px 0;
    }

    .valoracion-anio,
    .puntos-valoracion {
        font-size: 0.8em;
    }

    .puntos-valoracion{
        padding: 8px;
    }

    .valoracion-container span.media,
    .valoracion-container span.total{
        font-size: 0.8em;
    }

    .media-voto-critica{
        display: flex;
        justify-content: space-between;
    }

    .media-voto-critica .media{
        font-size: 1.2em;
  
    }
    
    .media-voto-critica .total{
        font-size: 1.2em;

    }

    .titulo-critica-prod{
        font-size: 1.8em;
    }
    
    .boton{
        width: 100%;
        margin: 6px 0;
    }
}

@media (max-width: 500px){
   
    .nav-ficha li,
    .nav-ficha li a{
       display: block;
       float: none;
       clear: both;
    }

    .nav-ficha li a{
        width: 100%;
    }

    .valor-critica{
        padding: 5px;
        font-size: 0.8em;
        border-radius: 5px;
        margin-right: 6px;
    }

    .nav-user{
        flex-direction: column;
    }

    .ficha-selected,
    .user-selected {
        animation: desplazamiento 2s forwards;
    }

   
    /*****************/
    /*   Animaciones*/
    /*****************/

    
    @keyframes desplazamiento {
        0%{
            padding-left: 2%;
        }
        100%{
            padding-left: 8%;
        }
    }
}
