
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*{
    /*word-break: break-word;*/
    box-sizing: border-box;
}


body{
    background-color: #0f49b9;
    background-image: linear-gradient(40deg, #0f49b9, #38c0e7);
    background-image: -moz-linear-gradient(40deg, #0f49b9, #38c0e7);;
    background-image: -o-linear-gradient(40deg, #0f49b9, #38c0e7);
    background-image: -webkit-linear-gradient(40deg, #0f49b9, #38c0e7);
    background-attachment: fixed;
}

#al-cielo{
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: #0f49b9;
    color: white;
    width: 4em;
    height: 4em;
    display: none;
    border: 0;
}


/*Login*/

.site-login{
    background: url('../img/carteles.jpg') 100%;
    min-height: 600px;
    box-shadow: -5px 1px 22px #0f49b9;
}

.site-login h1{
    font-family: 'Oswald', sans-serif;
    color: #333;
    padding: 30px 0;
}

#login-form input[type="text"],
#login-form input[type="password"]{
    border: none;
    border-bottom: 1px solid #777;
    border-radius: 0;
    padding-left: 30px;
    transition: border-bottom 300ms linear;
}

#login-form input[aria-invalid="true"],
#login-form input[aria-invalid="true"]{
    border-bottom: 3px solid red;
    box-shadow: none;
}

#login-form input[type="text"]:focus,
#login-form input[type="password"]:focus{
    box-shadow: none;
    border-bottom: 4px solid rgb(241, 189, 19);
}

.icon-group{
    margin: 10px 0;
    height: 80px;
    position: relative;
}

.icon-group i{
    position: absolute;
    padding: 10px;
    pointer-events: none;
    top: 0;
    color: #777;
}

.btn-principal{
    background-color: rgb(241, 189, 19);
    border-radius: 0;
    color: black;
    transition: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: linear;
    font-family: 'Oswald', sans-serif;
}

.btn-principal:hover{
    background-color: rgb(139, 77, 5);
    color: white;
}

.btn-eliminar{
    background-color: rgb(241, 19, 19);
    border-radius: 0;
    color: rgb(224, 195, 195);
    transition: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: linear;
    font-family: 'Oswald', sans-serif;
}

.btn-eliminar:hover{
    background-color: rgb(110, 3, 3);
    color: white;
}


.formulario{
    background: white;
}

.imagen-login{
    background: rgba(0,0,0,0.7);
}

.fondo{
    background: white;
    box-shadow: -5px 1px 22px #0f49b9;
    min-height: 800px;
    
}


.body-content h2{
    margin-top: 20px;
}


.titulo{
    text-align: center;
    height: 50px;
    overflow-y: hidden;
    text-decoration: none;
}

.logo{
    height: 60px;
    margin: 0;
    padding: 2px;
}
.navbar {
    font-family: 'Oswald', sans-serif;
}

#contenedor-search{
    position: relative;
}

#search{
    border-radius: 0;
    box-shadow: none;
}

#lista{
    position: absolute;
    top: 36px;
    list-style: none;
    border: 1px solid #0f48b965;
    border-top: none;
    display: none;
    background-color: white;
    z-index: 20;
}

#lista a{
    padding: 0 20px;
}

.dropdown-menu{
    margin-top: 0px;
    border-radius: 0;
    background-color: #ffc107;
    border: none;
}

.dropdown-menu a:hover,
.dropdown-menu a.active{
    background-color: #1252bd;
    color: #EEE;
}

.amigo-icon{
    font-size: 3em;
    color: #0f49b9;
}
/**********************/
/*  Ficha Producto   */
/********************/

.nav-ficha{
    border-bottom: 3px solid #0f49b9;
    margin: 20px 0;
    list-style: none;
    padding: 0;
    min-height: 44px;
    
}
.nav-ficha li{
    display: inline;
}

.nav-ficha li a{
    display: block;
    color: #333;
    float: left;
    padding: 10px 10px 10px 5px;
    font-weight: bold;
    transition: background-color 300ms linear,
    color 300ms linear;
}

.nav-ficha li:hover a{
    text-decoration: none;
    background-color:#0f49b9;
    color: #ffc107;
}

.nav-ficha li:hover .fas,
.nav-ficha li:hover .far,
.nav-user li:hover .fas,
.nav-user li:hover .far{
    animation: agitar 1s;
}

.ficha-selected{
    background-color:#0f49b9;
    color: white !important;
}

.pagination .active a{
    background-color: #0f49b9 !important;
}


.puntos-criticas{
    display: inline-block;
    text-align: center;
    
}

.puntos-criticas .media{
    font-size: 3em;
    width: 100%;
    font-weight: bold;
    color: white;
    padding: 5px;
    background-color: #0f49b9;
}

#media{
    text-align: center;
    
}

.puntos-criticas #total{
    border: 1px solid #0f49b9;
    color: #0f49b9;
    font-size: 0.9em;
}

.izquierda{
    color: #777;
    font-weight: 700;
}

.criticas-container{
    background-color: #ddd;
    padding: 5px 20px;
}

.critica-container{
    background-color: white;
    margin: 15px 0;
}

.cabecera-critica,
.cabecera-critica-prod{
    border-bottom: 3px solid #ffc107;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera-critica-prod{
    height: 200px;
}

.cabecera-critica-usu{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.cabecera-critica-pro .valor-critica{
    display: block;
    align-self: center;
}

.img-critica{
    height: 100%;
    height: 100%;
}

.img-critica img{
    height: 100%;
}


.anyo-prod{
    font-size: 0.8em;
}


.critica-prod a{
    color:black;
    font-size: 100%;
    margin-left: -5px;
}

.cabecera-critica-prod .media,
.valoracion-container .media{
    font-size: 1em;
    background-color: #0f49b9;
    color:white;
    padding: 5px;
    font-weight: bold;
    margin: 10px;
}


.cabecera-critica-prod .total,
.valoracion-container .total{
    font-size: 1em;
    color: #0f49b9;
    padding: 5px;
    font-weight: 300;
    margin: 10px 5px;
}
    

.localidad{
    font-style: italic;
    font-size: 0.8em;
}

.datos-usuarios-criticas i{
    float: left;
    font-size: 3em;
    padding: 10px;
    background-color: #ffc107;
    border-radius: 600px;
    box-shadow:  1px 3px 3px 0px #aa8004;
    margin-right: 10px;
    color: white;
}



.usuario-critica{
    font-size: 1.5em;
}
.titulo-critica{
    display: block;
    font-size: 1.5em ;
    padding-top: 30px;
}
.titulo-critica a{
    color: #0f49b9;
}

.valor-critica{
    padding: 10px;
    border: 1px solid #0f49b9;
    color: #0f49b9;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 5px;
}


.fecha{
    color: #777;
    font-size: 0.8em;
}


.critica{
    white-space: pre-line;
    line-height: 1.6;
    border-bottom:1.6px dashed #777;
    padding-bottom: 40px;
    
}

.media-voto-critica{
    display: flex;
    justify-content: start;
}

.media-voto-critica .media{
    font-size: 1em;
    background-color: #0f49b9;
    color:white;
    padding: 5px;
    font-weight: bold;
    margin: 10px 0px;
}


.media-voto-critica .total{
    font-size: 1em;
    color: #0f49b9;
    padding: 5px;
    font-weight: 300;
    margin: 10px 5px;
}
    


/*********************/
/*     Ficha        */
/*******************/

.valoraciones{
    background-color: #ccc;
    margin-top: 16px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.valoraciones .media{
    text-align: center;
    color: white;
    background-color: #0f49b9;
}

.valoraciones .total{
    text-align: center;
    background-color: white;
    color: #0f49b9;
    border: 1px solid #0f49b9;
}

.valoraciones #total{
    padding: 5px;
}

.valoraciones #media{
    padding: 5px;
    align-self: center;
    font-weight: bold;
    font-size: 2rem;
}

.valoracion-accion{
    background-color: #ccc;
    margin-top: 16px;
    padding: 10px;
}

.valoracion-form{
    border-radius: 0;
    width: 80%;
    margin: 0 auto;
}

.btn-azul{
    background-color:#0f49b9;
    border-radius: 0;
    color: white;
    transition: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: linear;
    font-family: 'Oswald', sans-serif;
   
}
.btn-azul:hover{
    background-color:#031946;
    color: rgb(121, 121, 121);
}

.form-style{
    border: none;
    border-bottom: 1px solid #777;
    border-radius: 0;
    padding-left: 10px;
    transition: border-bottom 300ms linear;
}

.form-style[aria-invalid="true"]{
    border-bottom: 3px solid red;
    box-shadow: none;
}

.form-style:focus{
    box-shadow: none;
    border-bottom: 4px solid rgb(241, 189, 19);
}
.usuarios-form,
.productos-form,
.listas-form{
    padding: 20px;
    border:1px solid #EEE;
    box-shadow: 1px 1px 3px #555;
    background-color: white;
}

.usuarios-form label,
.productos-form label,
.critica-form label,
.listas-form label{
    font-weight: bolder;
    color: #777;
}

.h1{
    border-bottom: 3px solid #0f49b9;
    padding: 15px 0;
    font-family: 'Oswald', sans-serif;
}

.card-body h3.titulo{
    font-size: 1.25rem;
}
.card-body a{
    font-family: 'Oswald', sans-serif;
}


/*search*/
.field-usuariossearch-nombre,
.field-listassearch-titulo,
.field-usuarioslistassearch-lista-titulo,
.field-productossearch-titulo{
    margin-bottom: 0;
}

.eliminar-label{
    font-weight: bold;
    font-style: italic;
    color: #555;
}

/*Perfil usuario*/
.perfil-usuario{
    margin: 10px 0;
    
}

.perfil-usuario i{
    font-size: 4rem;
    padding: 10px;
    background-color: #ffc107;
    border-radius: 600px;
    box-shadow:  1px 3px 3px 0px #aa8004;
    color: white;
    margin: 30px 0;
}

.perfil-usuario .usuario-critica{
    font-size: 2rem;
}
.perfil-usuario .localidad{
    font-size: 1rem;
}

.nav-user{
    border-bottom: 3px solid #0f49b9;
    margin: 20px 0;
    list-style: none;
    padding: 0;
    min-height: 44px;
    display: flex;
    justify-content: space-evenly;
    
}
.nav-user li{
    display: inline;
}


.nav-user li a{
    display: block;
    color: #333;
    float: left;
    padding: 10px 10px 10px 5px;
    width: 100%;
    font-weight: bold;
    transition: background-color 300ms linear,
    color 300ms linear;
}

.nav-user li:hover a{
    text-decoration: none;
    background-color:#0f49b9;
    color: #ffc107;
}

.user-selected{
    background-color:#0f49b9;
    color: white !important;
}

.valoraciones-container{
    background-color: #ddd;
    padding: 5px 20px;
}

.valoracion-container{
    background-color: white;
    margin: 15px 0;
    
    
}
.img-valoracion{
    padding: 10px;
    border-right: 2px solid #ffc107;
}

.img-valoracion img{
   box-shadow:2px 2px 3px #777;
}

.titulo-valoracion a{
    color: black;
    font: 1rem;
    
    display: block;
}

.valoracion-anio {
    font-size: 1.1em;
}

.voto-media{
    padding-left: 10px;
}

.contenedor-voto{
    height: 80px;
    padding: 10px;
    justify-content: center;
}

.puntos-valoracion{
    display: inline-block;
    text-align: center;
    border: 1px solid #0f49b9;
    padding: 10px;
    color: #0f49b9;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 5px;
}



/************/
/*   tablas */
/************/

.table > *{
    word-break: unset;
    background-color: white !important;
}

#table-listas td{
    width: 100%;
}


#table-listas td:first-child a{
    width: 100%;
    display: block;
    padding: 0;
}
/*******************/
/*   Animaciones  */
/*****************/


.ficha-selected .fa-newspaper,
.ficha-selected .fa-film,
.user-selected .fa-newspaper,
.user-selected .fa-list{
    animation: agitar 2s ;
}

.user-selected .fa-star{
    animation: giro 2s;
}


@keyframes agitar {
    0%, 100% {
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(-25deg);
    }
    75%{
        transform: rotateZ(35deg);
    }
}


@keyframes giro {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
    
}
